@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Simple ASP.NET Core MVC App about product management</p>
    <img style="margin-top: 4%" src="https://user-images.githubusercontent.com/58300181/118834163-ec6da000-b8b9-11eb-98dc-5e604c11e79f.png" alt="EF CORE logo">
</div>
